<div class="container mat-elevation-z5">
    <form class="form">
        
        <img src="/assets/img/Atualizar Usuario.png">
        

          <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Nome</mat-label>
            <input 
            [(ngModel)]="user.nome"
            name="nome"

            [formControl] ="nome"
            required
            matInput 
            placeholder="Ex. Joao de Sá"
            maxlength="50">
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>

          <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>CPF</mat-label>
            <input 
            [(ngModel)]="user.cpf"
            name="cpf"

            [formControl] ="cpf"
            required
            matInput 
            placeholder="Ex. 000.000.000-00"
            mask="000.000.000-00"
            value="000.000.000-00">
            <mat-icon matSuffix>pin</mat-icon>
          </mat-form-field>

          <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input 
            [(ngModel)]="user.email"
            name="email"

            [formControl] ="email"
            required
            matInput 
            placeholder="Ex. joao@tdmlogistica.com">
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>

          <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Senha</mat-label>
            <input 
            [(ngModel)]="user.senha"
            name="senha"

            [formControl] ="senha"
            required
            type="password" 
            matInput placeholder="Ex. 1234">
            <mat-icon matSuffix>key</mat-icon>
          </mat-form-field>

          <section class="section">
            <mat-checkbox (click)="addPerfil(1)" [checked]="true" class="margin" color="primary">Usuário</mat-checkbox>
            <mat-checkbox (click)="addPerfil(0)" class="margin" color="primary">Administrador</mat-checkbox>
            <button routerLink="../../" class="mat-elevation-z5" mat-flat-button color="warn">Cancelar</button>
            <button (click)="update()" [disabled]="!validaCampos()" class="mat-elevation-z5 cadastrar-button" mat-flat-button>Atualizar</button>

          </section>

    </form>
</div>