.card-home {
    width: 70%;
    margin:  auto;
    background-color: rgb(235,235,235);
    margin-top: 2rem;
    
}

img{
    height: 25rem;

}
p{
    font-family: Roboto, "Helvetica Neue", sans-serif;  
    font-size: small;
    font-weight: 200;
}