.app-container {
    height: 100%;

}
.sidenav{
    width: 15rem;
    color:rgb(235,235,235);
    background: rgb(0,59,52);
    background: linear-gradient(19deg, rgba(0,59,52,1) 14%, rgba(76,134,120,1) 91%);  
}
img {
    display: block;
    margin: 0 auto;
    width: 75%;
    height: 2.5rem;
    margin: 1rem 1rem 1rem 1rem;
  }

.sidenav a{
    color:rgb(235,235,235);
}
.sidenav i{
    margin-right: .5rem;
}


.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    background-color: rgb(235,235,235);

    

}

.menu {
    margin: 0;
    color: rgb(235,235,235);
    background: rgba(76, 134, 120, 1) 100%;
}

.last-image{
    display:block;
    margin:auto; 
    margin-left: calc(100% - 66.7%); /* Centralizar a imagem no viewport */
    width: 28%;
    height: 4rem;
}

.mat-card-content {
    font-size: 1.2rem; /* Ajuste o tamanho da fonte conforme necessário */
}

.nav-list .mat-list-item.selected {
    background-color: rgba(76, 134, 120, 0.8); /* Fundo mais escuro */
    color: #fff; /* Cor do texto em branco */
    border-radius: 2px; /* Arredonda as bordas */
    box-shadow: 0 2px 4px rgba(17, 82, 67, 0.3); /* Adiciona uma sombra de caixa branca com opacidade de 0,5 */

    
  }

