
<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <img src="assets/img/logobranco.png" alt="Imagem de Fundo">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/home" >
                <i class="material-icons">home</i>
                Home
            </a>
            <a mat-list-item routerLink="usuarios">
                <i class="material-icons">account_circle</i>   
                Usuários             
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons">assignment</i>  
                Tarifas              
            </a>

            <a mat-list-item (click)="logout()">
                <i class="material-icons">logout</i>    
                Sair            
            </a>


        </mat-nav-list>
        
    </mat-drawer>
  
    <div class="sidenav-content">

        <div class="content-container">
            <button class="menu mat-elevation-z8" mat-button (click)="drawer.toggle()" mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>

            <!--Header--> 
            <mat-card class="custom-card">
                <mat-card-content>Sistema de Tarifas e Rotas</mat-card-content>
            </mat-card>
        </div>
        
        <router-outlet></router-outlet>
    </div>
    
   
  </mat-drawer-container>